*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

h1, h2 {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.background-image {
  background-image: url("../../../src/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.get-started {
  font-weight: 500;
  font-size: 16px;
  border: 1.5px solid #FFFFFF;
  border-radius: 50px;
  padding: 13px 31px;
  color: white;
}
.get-started:hover {
  background-color: white;
  color: #85a6ff;
  transition: ease-in-out 0.3s;
}
.get-started_white {
  background-color: white;
  color: #0F2137;
  border: 1.5px solid #FFFFFF;
  border-radius: 50px;
  padding: 13px 31px;
  font-weight: 500;
  font-size: 16px;
}
.get-started_white:hover {
  background-color: #1a4fd0;
  color: white;
  transition: ease-in-out 0.3s;
}

.header {
  padding-top: 31px;
  padding-bottom: 110px;
}
.header__holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}
.header__nav-link {
  color: #FFFFFF;
  font-size: 16px;
}
.header__nav-link:hover {
  color: #85a6ff;
  transition: ease-in-out 0.3s;
}

.hero {
  position: relative;
  margin-bottom: 65px;
}
.hero__holder {
  display: flex;
  flex-wrap: wrap;
}
.hero__title {
  font-size: 85px;
  line-height: 100px;
  color: white;
  max-width: 668px;
  padding-bottom: 29px;
}
.hero__text {
  font-weight: 500;
  line-height: 42px;
  color: white;
  max-width: 468px;
  padding-bottom: 38px;
}
.hero__button-holder {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  align-items: center;
  padding-bottom: 50px;
}
.hero__watch {
  font-family: "Heebo", sans-serif;
  color: white;
  position: relative;
}
.hero__watch:hover {
  color: #85a6ff;
  transition: ease-in-out 0.3s;
}
.hero__watch:before {
  content: "";
  background-image: url("../../../../src/img/watch.svg");
  width: 25px;
  height: 27px;
  position: absolute;
  left: -33px;
  top: -4px;
}
.hero__sponsored-holder {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
  padding-bottom: 206px;
}
.hero__sponsored-title {
  color: #FFFFFF;
  opacity: 0.6;
}
.hero__image {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}
.hero__pattern {
  position: absolute;
  right: 230px;
  top: 0;
}

.app {
  padding-bottom: 200px;
}
.app__pre-title {
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #244886;
  letter-spacing: 2px;
  padding-bottom: 15px;
}
.app__title {
  font-size: 36px;
  text-align: center;
  margin: 0 auto;
  color: #0F2137;
  padding-bottom: 78px;
}
.app__holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}
.app__icon {
  margin: 0 auto;
  padding-bottom: 21px;
}
.app__column-title {
  font-weight: 700;
  font-size: 18px;
  color: #0F2137;
  padding-bottom: 20px;
  margin: 0 auto;
  text-align: center;
}
.app__column-text {
  font-size: 15px;
  line-height: 28px;
  max-width: 245px;
  text-align: center;
}

.core {
  padding-bottom: 160px;
}

.features__pre-title {
  text-align: center;
  color: #244886;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.3px;
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
  padding-bottom: 7px;
}
.features__title {
  color: #0F2137;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 36px;
  letter-spacing: -1px;
  padding-bottom: 78px;
}
.features__holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.features__column {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-bottom: 110px;
}
.features__column-title {
  font-weight: 700;
  font-size: 18px;
  color: #0F2137;
  padding-bottom: 10px;
}
.features__text {
  max-width: 263px;
  line-height: 26px;
  color: #343D48;
}
/*# sourceMappingURL=main.css.map */
