.app{

  padding-bottom: 200px;

  //&__pre-title{
  //  margin: 0 auto;
  //  text-align: center;
  //  font-weight: 700;
  //  font-size: 14px;
  //  text-transform: uppercase;
  //  color: #244886;
  //  letter-spacing: 2px;
  //  padding-bottom: 15px;
  //}

  &__title{
    font-size: 36px;
    text-align: center;
    margin: 0 auto;
    color: #0F2137;
    padding-bottom: 78px;
  }

  &__holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
  }

  &__icon{
    margin: 0 auto;
    padding-bottom: 21px;
  }

  &__column-title{
    font-weight: 700;
    font-size: 18px;
    color: #0F2137;
    padding-bottom: 20px;
    margin: 0 auto;
    text-align: center;
  }

  &__column-text{
    font-size: 15px;
    line-height: 28px;
    max-width: 245px;
    text-align: center;
  }
}