.hero{

  position: relative;
  margin-bottom: 65px;

  &__holder{
    display: flex;
    flex-wrap: wrap;
  }

  &__title{
    font-size: 85px;
    line-height: 100px;
    color: white;
    max-width: 668px;
    padding-bottom: 29px;
  }

  &__text{
    font-weight: 500;
    line-height: 42px;
    color: white;
    max-width: 468px;
    padding-bottom: 38px;
  }

  &__button-holder{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    align-items: center;
    padding-bottom: 50px;
  }

  &__watch{
    font-family: 'Heebo', sans-serif;
    color: white;
    position: relative;

    &:hover{
      color: #85a6ff;
      transition: ease-in-out 0.3s;
    }

    &:before{
      content: '';
      background-image: url('../../../../src/img/watch.svg');
      width: 25px;
      height: 27px;
      position: absolute;
      left: -33px;
      top: -4px;
    }
  }

  &__sponsored-holder{
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
    padding-bottom: 206px;
    align-items: center;
  }

  &__sponsored-title{
    color: #FFFFFF;
    opacity: 0.6;
  }

  &__image{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
  }

  &__pattern{
    position: absolute;
    right: 230px;
    top: 0;
  }
}